.pagination {
    margin-top: 30px;
    margin-bottom: 30;
}

.pag_item {
    width: 20px;
    height: 20px;
    float: left;
    border: 1px solid #000;
    margin-right: 3px;
    text-align: center;
    line-height: 20px;
    opacity: 70%;
}

.pag_item a {
    color: #000;
    text-decoration: none;
}

.pag_ativo {
   background-color: #224074; 
}

.pag_ativo a {
    color: #FFF;
}